.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 24px;
}

.input {
  margin-bottom: 24px;
  width: 420px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons button:only-child {
  margin: 0 auto
}

.extra {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}