.link {
  color: unset;
  text-decoration: none;
}

.card {
  padding: 24px;
  width: 100%;
  /* max-width: 584px; */
  background-color: var(--color-bg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.card:hover {
  opacity: .9;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.status {
  margin-top: 10px;
}

.cancelled {
  color: var(--color-error);
}

.pending {
  color: var(--color-success);
}

.btnsWrapper {
  width: fit-content;
}

.imageWrapper {
  width: 64px;
  height: 64px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 100px;
  border: none;
  display: inline-block;
  position: relative;
}

.imageWrapper:nth-of-type(1) {
  z-index: 5;
}

.imageWrapper:nth-of-type(2) {
  left: -15px;
  z-index: 4;
}

.imageWrapper:nth-of-type(3) {
  left: -30px;
  z-index: 3;
}

.imageWrapper:nth-of-type(4) {
  left: -45px;
  z-index: 2;
}

.imageWrapper:nth-of-type(5) {
  left: -60px;
  z-index: 1;
}

.imageWrapper:nth-of-type(6) {
  left: -75px;
  z-index: 0;
}

.image {
  width: 59px;
  height: 59px;
  background-color: var(--color-bg);
  border-radius: 100px;
  object-fit: cover;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
}

.styles.imageLast {
  opacity: 0.9;
}

.more {
  color: var(--color-basic);
  opacity: 0.8;
  position: absolute;
  top: 19px;
  left: 17px;
  z-index: 10;
}

.price {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}