.card {
  padding-bottom: 30px;
  width: 280px;
}

.card:hover {
  opacity: .9;
  cursor: pointer;
  transform: perspective(1px) scaleX(1.01);
  transition: all .5s linear;
  filter: blur(0.0);
  -webkit-filter: blur(0.0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter {
  position: relative;
  top: 1px;
  right: 2px;
}

.counter:hover {
  cursor: pointer;
}

.image {
  margin: 0 16px 4px;
  width: 240px;
  height: 120px;
}

.price {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}