.nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-basis: 33.3%;
}

.wrapperLogo {
  composes: wrapper;
  justify-content: center;
}

.wrapperEnd {
  composes: wrapper;
  justify-content: flex-end;
}

.link {
  padding: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin-left: 8px;
  color: var(--color-basic);
  display: flex;
  align-items: center;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}