.section {
  box-sizing: border-box;
  width: 600px;
}

.title {
  margin-bottom: 20px;
}

.nav {
  margin-bottom: 40px;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.listItem {
  box-sizing: border-box;
  min-height: 56px;
  color: #8585AD;
  text-align: center;
  border-bottom: .5px solid #2F2F37;
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: #F2F2F3;
  border-bottom: 2px solid #4C4CFF;
}

.sets {
  height: calc(100vh - 296px);
  overflow-y: scroll;
}

.sets::-webkit-scrollbar {
  margin-block-end: 50px;
  width: 8px;
  max-height: 70vh;
}

.sets::-webkit-scrollbar-track {
  margin-block-end: 50px;
  background-color: #2F2F37;
}

.sets::-webkit-scrollbar-thumb {
  height: 492px;
  background-color: #8585AD;
}

