.section {
  box-sizing: border-box;
  padding-top: 40px;
  width: 600px;
}

.title {
  margin-bottom: 20px;
}

.sets {
  height: calc(100vh - 296px);
  overflow-y: scroll;
}

.sets::-webkit-scrollbar {
  margin-block-end: 50px;
  width: 8px;
}

.sets::-webkit-scrollbar-track {
  margin-block-end: 50px;
  background-color: var(--color-complementary);
}

.sets::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}